@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    ---button-color:#E02C6D;
    ---footer-background:black;
    ---footer-font: "Manrope", serif;
    ---primary-color:#ffffff
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
    
}
/* primary section stars here  */
h2 {
    font-weight: 600;
    font-size: 1.7rem;
}
h3 , h4{
    font-weight:500;
    padding: .8rem 0;
}
p{
    opacity: .7;
}


header,main{
    width: 85vw;
    margin: 0 auto;
}
/* nav section starts here  */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.fa-bars {
    display:none;
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 1.3rem;
}
/* banner section starts here  */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.banner-description{
    width: 50%;
    align-content: center;
}
.banner-description h1{
    font-size: 3.2rem;
    margin-bottom: 1rem;
}
.banner-description button{
    padding: .7rem 1.5rem;
    border-radius: 41px;
    border: none;
    background-color: var(---button-color);
    color: var(---primary-color);
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}
.banner-img{
    width: 50%;
    text-align: right;
}
#main-camera{
    position: absolute;
    right: 9.4rem;
    padding-top: 2rem;
}
/* add section starts here  */
.add-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4rem auto;
    padding: 2rem;
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
}
.popular-container{
    text-align: center;
}
.popular-f-description{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.popular-description{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 1rem;
    /* display: grid;
    row-gap: 1rem; */
}
.popular-img img{
    width: 100%;
}
.populat-data{
    text-align: left;
}
#star{
    color:rgb(251, 130, 0);
}
.fa-star{
    font-size:small;
}
.btn{
    text-align: right;
}
.btn button{
    border: none;
    color: var(---button-color);
    font-weight: bold;
    margin-top: 2rem;
    background-color: #fff;
    font-size: 1rem;
}
/* feature section starts here  */
.feature-container{
    margin-top: 7rem;
    margin-bottom: 5rem;
    display: flex;
    column-gap: 6rem;
    align-items: center;
}
.feature-description h1{
    font-size: 2.2rem;
    padding-bottom: 1rem;
}
.join-btn{
    margin-top: 1rem;
    border: none;
    background-color: var(---button-color);
    color: var(---primary-color);
    padding:10px 24px;
}

/* footer section starts here  */
.footer-container{
    height: 250px;
    background-color: var(---footer-background);
    color: var(---primary-color);
    text-align: center;
    align-content: center;
    display: grid;
    row-gap: .5rem;
}
.footer-icon i{
    padding: 1rem;

}

















/* responsiveness for mobile  */
@media screen and (max-width : 576px) {
    nav ul{
        display: none;
    }
    .fa-bars {
        display:inline;
        margin-top: 1rem;
    }
    nav h2{
        margin-right: 1rem;
    }
    /* banner section starts here  */
    .banner-container{
        flex-direction: column-reverse;
        
    }
    .banner-description{
        width: 100vw;
        text-align: center;
        padding-left: -1rem;
        margin: 0 auto 0 -2rem;

    }
    .banner-description h1{
        font-size: 2.2rem;
        margin-top: 2rem;

    }
    .banner-img{
        /* width: 90vw;
        text-align: center; */
    }
    #main-bg{
        width: 90vw;
        text-align: center;
        margin-left: -.5rem;
    }
    #main-camera{
        width: 80vw;
        top: 10rem;
        left: 2.5rem;
    }
    /* add section  */
    .add-container{
        /* display: grid;
        grid-template-columns: repeat(4,1fr);
         */
         margin-left: -2rem;
        width: 100vw;
        row-gap: 2rem;
        column-gap: .7rem;
    }

    /* popular section  */
    .popular-f-description{
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
    }
    .popular-container > h2{
        margin-bottom: 2rem;
    }
    /* feature section  */
    .feature-container{
        flex-direction: column;
        gap: 2rem;
    }





}